<div>
  <div class="col-md-6 col-sm-9">
    <div class="our-team">
      <div class="pic">
        <img src="../../../assets/images/certificates/JS_backend.jpeg" />
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-9">
    <div class="our-team">
      <div class="pic">
        <img
          style="width: 100%"
          src="../../../assets/images/certificates/cpe-certificates.png"
        />
      </div>
    </div>
  </div>

  <div class="div-back">
    <button (click)="back()" class="btn btn-primary">
      Към началната страница
    </button>
  </div>
</div>
