<div class="row" *ngFor="let session of visibleSessions">
  <div class="col-md-1">
    <div *ngIf="token.getToken()">
      <app-like
        (like)="toggleLike(session)"
        [count]="session.voters.length"
        [liked]="userHasLiked(session)"
      ></app-like>
    </div>
  </div>
  <div class="col-md-10">
    <app-collapse-well>
      <div well-title>
        {{ session.name }}
        <i
          *ngIf="session.voters.length > 0"
          class="glyphicon glyphicon-heart"
          style="color: red; padding-left: 25px"
        ></i>
        <span
          *ngIf="session.voters && session.voters.length > 0"
          style="padding-left: 0px"
        >
          {{ session.voters.length }}</span
        >
      </div>
      <div well-body>
        <h6>{{ session.presenter }}</h6>
        <span>Продължителност: {{ session.duration | duration }}</span
        ><br />
        <span>Ниво: {{ session.level }}</span>
        <p>{{ session.abstract }}</p>
        <button *ngIf="isOwner" id="deleteBtn" (click)="deleteSession(session)">
          Изтриване на модула
        </button>
      </div>
    </app-collapse-well>
  </div>
</div>
