<h1>Регистрация на нов потребител</h1>
<hr />
<div class="col-md-4">
  <form
    ngNativeValidate
    #registerForm="ngForm"
    (ngSubmit)="register(registerForm.value)"
    autocomplete="off"
    novalidate
  >
    <div class="form-group">
      <label for="username">Потребителско име:</label>
      <em
        *ngIf="registerForm.controls?.['username']?.invalid && (registerForm.controls?.['username']?.touched || mouseOverLogin)"
        >Потребителското име е задължително</em
      >
      <input
        ngModel
        name="username"
        required
        id="username"
        type="text"
        class="form-control"
        placeholder="username"
      />
    </div>

    <div class="form-group">
      <label for="firstName">Име</label>
      <em
        *ngIf="registerForm.controls?.['firstName']?.invalid && (registerForm.controls?.['firstName']?.touched || mouseOverLogin)"
        >Името е задължително</em
      >
      <input
        ngModel
        name="firstName"
        required
        id="firstName"
        type="text"
        class="form-control"
        placeholder="First Name..."
      />
    </div>

    <div class="form-group">
      <label for="lastName">Фамилия:</label>
      <em
        *ngIf="registerForm.controls?.['lastName']?.invalid && (registerForm.controls?.['lastName']?.touched || mouseOverLogin)"
        >Фамилията е задължителна</em
      >
      <input
        ngModel
        name="lastName"
        required
        id="lastName"
        type="text"
        class="form-control"
        placeholder="Last Name..."
      />
    </div>

    <div class="form-group">
      <label for="password">Парола:</label>
      <em
        *ngIf="registerForm.controls?.['password']?.invalid && (registerForm.controls?.['password']?.touched || mouseOverLogin) "
        >Не е въведена парола</em
      >

      <input
        ngModel
        name="password"
        required
        id="password"
        type="password"
        class="form-control"
        placeholder="Password..."
      />
    </div>

    <div class="form-group">
      <label for="password">Потвърдете паролата:</label>
      <em
        *ngIf="registerForm.controls?.['repass']?.invalid && (registerForm.controls?.['repass']?.touched || mouseOverLogin) "
        >Потвърдете паролата</em
      >

      <em
        *ngIf="registerForm.controls?.['password']?.value !== registerForm.controls?.['repass']?.value"
        >Паролата не съвпада</em
      >

      <input
        ngModel
        name="repass"
        required
        id="password"
        type="password"
        class="form-control"
        placeholder="Confirm password..."
      />
    </div>

    <span
      (mouseenter)="mouseOverLogin = true"
      (mouseleave)="mouseOverLogin = false"
    >
      <button
        type="submit"
        [disabled]="registerForm.invalid || registerForm?.controls?.['password']?.value !== registerForm?.controls?.['repass']?.value"
        class="btn btn-primary"
      >
        Регистрация
      </button>
    </span>

    <button type="button" (click)="cancel()" class="btn btn-default">
      Отказ
    </button>
  </form>
</div>
