<div>
  <div class="col-md-3 col-sm-6">
    <div class="our-team">
      <div class="pic">
        <img src="../../../assets/images/staff/svetlin-nakov.jpeg" />
      </div>
      <h3 class="title">Светлин Наков</h3>
      <span class="post">Co-founder &copy;SoftUni </span>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="our-team">
      <div class="pic">
        <img src="../../../assets/images/staff/victor-kostadinov.jpeg" />
      </div>
      <h3 class="title">Виктор Костадинов</h3>
      <span class="post">Head of R&D, &copy;SoftUni</span>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="our-team">
      <div class="pic">
        <img src="../../../assets/images/staff/ivaylo-kenov.jpeg" />
      </div>
      <h3 class="title">Ивайло Кенов</h3>
      <span class="post">CTO &copy;SoftUni</span>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="our-team">
      <div class="pic">
        <img src="../../../assets/images/staff/iliya-idakiev.jpeg" />
      </div>
      <h3 class="title">Илия Идакиев</h3>
      <span class="post">&copy;Hillgrand / Co-Founder </span>
    </div>
  </div>

  <div class="div-back">
    <button (click)="back()" class="btn btn-primary">
      Към началната страница
    </button>
  </div>
</div>
