<h1>Вход</h1>
<hr />
<div class="col-md-4">
  <form
    ngNativeValidate
    #loginForm="ngForm"
    (ngSubmit)="login(loginForm.value)"
    autocomplete="off"
    novalidate
  >
    <div class="form-group">
      <label for="username">Потребителско име:</label>
      <em
        *ngIf="loginForm.controls?.['username']?.invalid && (loginForm.controls?.['username']?.touched || mouseOverLogin)"
        >Липсва потребителско име</em
      >
      <input
        ngModel
        name="username"
        required
        id="username"
        type="text"
        class="form-control"
        placeholder="username"
      />
    </div>
    <div class="form-group">
      <label for="password">Парола:</label>
      <em
        *ngIf="loginForm.controls?.['password']?.invalid && (loginForm.controls?.['password']?.touched || mouseOverLogin) "
        >Паролата е задължителна</em
      >
      <input
        ngModel
        name="password"
        required
        id="password"
        type="password"
        class="form-control"
        placeholder="Password..."
      />
    </div>
    <span
      (mouseenter)="mouseOverLogin = true"
      (mouseleave)="mouseOverLogin = false"
    >
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn btn-primary"
      >
        Влез
      </button>
    </span>

    <button type="button" (click)="cancel()" class="btn btn-default">
      Отказ
    </button>
  </form>
</div>
